
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins';
    text-decoration: none;
}
body {
    background-color: #F8F9FA; /* Light gray */
}
.container{
    display: flex; 
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    height: 100vh;
    background-color: #e7e8e9;
    padding: 0 10%;
    
}
.left-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: white;
    padding: 20px;
    max-height: 1200px;
    flex-direction: column;
    border-radius: 5px;
}
.right-section {
    flex: 1;
    background: #316cff;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-section .right-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
   
   
    padding: 0 10px;
}

/*form section*/

#form-sec{
    padding: 0 40px;
    width: 80%;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    
    width: 20px;
    height: auto;
    border-radius: 100%;
}
h1{
    text-align: center;
    font-size: 1.7em;
    font-weight: 600;
    color: rgb(41, 40, 40);
}
p{
    text-align: center;
    
    font-weight: 500;
    color: rgb(151, 150, 150);

}
.input-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 15px;
}
label{
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 0.8em;
    color: rgb(151, 150, 150);


}


input[type="email"],
input[type="password"],
input[type="text"]{
    padding: 10px;
    border: solid 1px  rgb(206, 205, 205);
    border-radius: 10px;
    
}
/*input[type="email"]::placeholder{
    margin: 3px;
    color:  rgb(151, 150, 150)
}*/
.checkbox-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.checkbox-group {
    display: flex;
    align-items: center;
    gap: 5px; /* Space between checkbox and label */
}
.forgot{
    font-size: 0.7em;
    cursor: pointer;
    
}
.forgot a{
    color: #316cff;
}
.submit-container{
    margin-top: 10px;
   
}
.submit-container input{
   background: #316cff;
   width:100% ;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   padding: 13px;
   color: white;
    font-size: 1em;
}
.submit-container input:hover{
    opacity: 0.7;
}

.hr{
    display: flex;
    margin: 10px 0;
    align-items: center;
}
.hr hr{
    width: 40%;
    height: 0;
    background-color: rgb(218, 216, 216) ;
   
}

.button-container{
    display: flex;
    justify-content: space-between;
}
.button-container input{
    
    width:48% ;
    background-color: #F8F9FA;
    border: solid 0.7px  rgb(241, 241, 241);
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    font-weight: 300;
    font-size: 0.7em;
    
}

.dont-email {
    font-size: 0.8em;
    margin-right: 10px;
}
.dont-email >button{
    outline: 0;
    border: 0;
    background: none;
    cursor: pointer;
    font-weight: 600;
}
/*go back button for forgot button*/
#go-back{
    outline: 0;
    border: 0;
    background: none;
    cursor: pointer;
    
    font-weight: 500;
    color: rgb(151, 150, 150);
}

#email-error,#password-error,#name-error,#confirm-password-error{
    color: red;
}
.right-section .right-container h1{
    color: white;
}
.right-section .right-container p{
    color:  rgb(241, 241, 241);
    opacity: .7;
}
.right-head{
    color:#363732;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 0 5%;
    }
    .left-section, .right-section {
        flex: none;
        width: 90%;
        padding: 20px;
    }
    .right-section {
        padding: 20px;
        display: none;
    }
    #form-sec {
        width: 80%;
        padding: 0 20px;
    }
    .button-container {
        flex-direction: column;
        gap: 10px;
    }
    .button-container input {
        width: 100%;
    }
}