@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */
:root {
    --primary-color: #316cff;
    --hover-color: #8aabff;
    --text-color: #fff;
    --placeholder-color: #989494;
    --font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: var(--font-family);
}


body { 
    display: flex;
    flex-direction: column; /* Navbar on top, rest below */
    height: 100vh;
    font-family: var(--font-family);
}
.container{
    display: flex;
    flex: 1; /* Fills the remaining height */
    width: 100%;
    height: 100vh;
}
/*nav bar*/
.navbar {
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(239, 239, 239);
    position: static;
    top: 0;
    
    
}
.nav-search{
   
    width: 50%;
}
.nav-search input{
    border: 1px solid #d9d9da;
    outline: none;
    padding: 5px;
    width: 100%;
    border-radius: 20px;
}
.newpost{ 
    display: flex;
    
    justify-content: center;
    width: 20%;
}
.newpostBtn{
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    background: #4174f5;
    color: white;
}

/*side bar**/
#sidebar {
    background: var(--primary-color);
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    width: 210px;
    height: 100vh;
    padding: 0 1em;
    color: var(--text-color);
    overflow: hidden; 
}

.sidebar-container {
    padding: 10px 5px;
}

.logo {
    height: 70px;
    padding: 10px;
}

.search {
    margin-bottom: 15px;
}

.search input[type=search] {
    border-radius: 20px;
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    border: 0.2px solid white;
    font-size: 0.8em;
    padding: 5px 10px;
    color: var(--placeholder-color);
}

.search input[type=search]::placeholder {
    padding-left: 10px;
}

.item {
    padding: 0;
    height: 88%;
    position: relative;
}

.sidebar-ul li {
    margin: 8px 0px;
    padding: 1.1em 1em;
    
    border-radius: 8px;
}

.sidebar-ul li a {
    color: white;
    display: flex;
    align-items: center;
    gap: 1.7em;
}

.sidebar-ul li a span {
    overflow: hidden;
    font-size: 0.8em;
    opacity: 0.8;
}

.sidebar-ul li:hover {
    background: var(--hover-color);
    border-radius: 10px;
}

.sidebar-ul li a i {
    font-size: 1em;
}

.profile {
  
    position: fixed;
    bottom: 30px;
    
    font-size: 12px;
    text-align: center;
}

.profileinfo a > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid;
}
/*main section */
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
}
.main-feed{
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.stories {
    display: flex;
    gap: 15px;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 100%;
    height: auto;

    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px  2px 5px  rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 10px;
    overflow-x: auto;
    
}
.stories-control{
    overflow:visible;
}
.stories::-webkit-scrollbar {
    width: 6px;
}
.stories::-webkit-scrollbar-corner {
    background: #aaa;
    border-radius: 6px;
}

.story { 
    text-align: center;
    flex: 1;
}
.story img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex: 1;
    
}
.story img:hover{
    transform: scale(1.1);
    transition: 0.1s ease-out;
}
.story h3{
    font-size: 0.6em;
}
.feeds {
    max-height: 100vh; /* Adjust this value based on your design */
    overflow-y:auto;
  
}

/* Optional: Custom Scrollbar */
.feeds::-webkit-scrollbar {
    width: 6px;
}
.feeds::-webkit-scrollbar-corner {
    background: #aaa;
    border-radius: 6px;
}


/* Feeds section*/
.card {
    
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px  2px 5px  rgba(14, 170, 190, 0.1);
    margin-bottom: 20px;
}
.card-img{
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}
.card h3{
    font-size: 0.9em;
    font-weight: 600;
}
.card .card-img .user-cardname > h4{
    font-size: 12px;
    opacity: 0.8;
    color: #a8a6a6;
    font-weight: 400;
}
.card .card-user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid;
}
.feedimg{
    font-size: 0.8em;
}
.feedimg img {
        margin-top: 5px;
        width: 100%;
        /* Adjust this as needed */
        max-height: 300px;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
}
    

.feed-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.lcss-icon{
    margin-top: 10px;
    display: flex;
    gap: 5px;
}
#feedicon{
    opacity: 0.5;
}

.comment-section {
    margin-top: 10px;
}
/*comment box*/
.comment-section textarea {
    width: 100%;
    height: 3em;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 50px;
    resize: none;
}
.comment-section textarea::placeholder{
    padding: 5px;
}

/*infor bar section*/
.right {
    width: 300px;
    background-color: #f7f7f7;
    padding: 20px;
    height: 100%;
    position: relative;
    display: flex;
   
    right: 0;
}
/*responsiveness*/
@media (max-width: 768px) {
    #sidebar {
        width: 110px;
        padding: 5px;
      
    }

    #sidebar:hover .sidebar-ul li {
        display: block;
    }
    .newpost{ 
        display: flex;
        
        justify-content: center;
        width: 30%;
    }
    .newpostBtn{
        width: 100%;
        padding: 5px;
        font-size: 0.7em;
        border-radius: 20px;
        background: #4174f5;
        color: white;
    }
    
}
@media (max-width: 425px) {
    #sidebar{
        display: none;
    }
    .nav-search input{
        font-size: 0.7em;
    }
    .right{
        display: none;
    }
    main{
        width: 90%;
       
    }
    .story img{
        width: 40px;
        height: 40px;
    }
    .stories { 
        justify-self: center;
        width: 99%;
        text-align: center;
        overflow-x: auto;
    }
    .comment-section textarea {
        width: 100%;
        height: 2.5em;
        border: 1px solid #ccc;
        padding: 2px;
        border-radius: 50px;
        resize: none;
    }
}