@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */
:root {
    --primary-color: #316cff;
    --hover-color: #8aabff;
    --text-color: #fff;
    --placeholder-color: #989494;
    --font-family: 'Poppins', sans-serif;
    --bg-transparent-color:rgba(0,0,0,0.1);
    --box-shadow:0px 0px 20px rgb(0 0 0/ 10%);
}

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: var(--font-family);
}
/* body of the code*/
body { 
    display: flex;
    flex-direction: column; /* Navbar on top, rest below */
    height: 100vh;
    font-family: var(--font-family);
}
/* container the encapsulate all element and layout structure*/
.container{
    display: flex;
    flex: 1; /* Fills the remaining height */
    width: 100%;
    height: 100vh;
}
/*nav bar*/
.navbar {
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(239, 239, 239);
    position: static;
    top: 0;
    
    
}
/*search field */
.nav-search{
   
    width: 50%;
}
.nav-search input{
    border: 1px solid #d9d9da;
    outline: none;
    padding: 5px;
    width: 100%;
    border-radius: 20px;
}
.newpost{ 
    display: flex;
    justify-content: center;
    width: 20%;
}
.newpostBtn{
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    background: #4174f5;
    color: white;
}

/*side bar**/
#sidebar {
    background: var(--primary-color);
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    width: 210px;
    height: 100vh;
    padding-left: 1em;
    color: var(--text-color);
    overflow: hidden; 
}


/* side bar picture*/
 .userpic{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 40px 10px;
    opacity: 0.7;
    text-align: left;
}
.userpic img {
   background-color: white;
    height: 40px;
    padding: 1px;
    border-radius: 50%;
    margin-right: 20px;
}
.sidebar-ul li {
    margin: 8px 0px;
    padding: 1.1em 1em;
    
    border-radius: 8px;
}
.sidebar-ul li:focus{
    /* Customize focus outline */
    outline: 2px solid var(--primary-color); /* Replace with your desired color */
    outline-offset: 2px;

}
#hamburger{
    display: none;
}
.sidebar-ul li a {
    color: white;
    display: flex;
    align-items: center;
    gap: 1.7em;
}

.sidebar-ul li a span {
    overflow: hidden;
    font-size: 0.8em;
    opacity: 0.8;
}

.sidebar-ul li:hover {
    background: var(--hover-color);
    border-radius: 10px;
}

.sidebar-ul li a i {
    font-size: 1em;
}


/*main section */
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
}
.main-feed{
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
/* stories control to ensure scroll*/
.stories-control{
    overflow:visible;
}
/* stories section */
.stories {
    display: flex;
    gap: 15px;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 100%;
    height: auto;

    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px  2px 5px  rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 10px;
    overflow-x: auto;
    
}

.stories::-webkit-scrollbar {
    width: 6px;
}
.stories::-webkit-scrollbar-corner {
    background: #aaa;
    border-radius: 6px;
}

.story { 
    text-align: center;
    flex: 1;
}
.story img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex: 1;
    
}
.story img:hover{
    transform: scale(1.1);
    transition: 0.1s ease-out;
}
.story h3{
    font-size: 0.6em;
}
/* main feed section*/
.feeds {
    max-height: 100vh; /* Adjust this value based on your design */
    overflow-y:auto;
  
}

/* Optional: Custom Scrollbar */
.feeds::-webkit-scrollbar {
    width: 6px;
}
.feeds::-webkit-scrollbar-corner {
    background: #aaa;
    border-radius: 6px;
}


/* Feeds section for the feed cards*/
.card {
    
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px  2px 5px  rgba(14, 170, 190, 0.1);
    margin-bottom: 20px;
}
.card-img{
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}
.card h3{
    font-size: 0.9em;
    font-weight: 600;
}
.card .card-img .user-cardname > h4{
    font-size: 12px;
    opacity: 0.8;
    color: #316cff;
    font-weight: 400;
}
.card .card-user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid;
}
.feedimg{
    font-size: 0.8em;
}
.feedimg img {
        margin-top: 5px;
        width: 100%;
        /* Adjust this as needed */
        max-height: 300px;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
}
    

.feed-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.lcss-icon{
    margin-top: 10px;
    display: flex;
    gap: 5px;
}
#feedicon{
    opacity: 0.5;
}

.comment-section {
    margin-top: 10px;
}
/*comment box*/
.comment-section textarea {
    width: 100%;
    height: 3em;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 50px;
    resize: none;
}
.comment-section textarea::placeholder{
    padding: 5px;
}
.comment-section textarea::-webkit-scrollbar {
    width: 6px;
}
.comment-section textarea::-webkit-scrollbar-corner {
    background: #aaa;
    border-radius: 6px;
}


/*infor bar section*/
.right {
    width: 23%;
    background-color: #f7f7f7;
    padding: 20px;
    height: 100%;
    position: relative;
    display: flex;
    max-height: 100vh;
    right: 0;
}

.infobar-top{
    display: flex;
    justify-content: space-between;
    
}
.infobar-top .infobar-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex: 1;
}
.friend{
    display: inline-block;
    overflow:visible;
}
.friend ::-webkit-scrollbar{
    width: 6px;
}
.friend-head{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    height: 50px;
   width: 100%;
   
}


.friend-heading{
    font-size:1.2em;
    opacity: 0.8;
   
}
.friend-body{
    overflow:scroll;
    max-height: 60vh;
    background-color: #ffffffd2;
    border-radius: 10px;
    
}

.friend-body .userfriend{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100px;
    gap:10px;
    margin: 5% 0;
    padding: 5px 0px  5px 10px;
    box-shadow: 0px  2px 3px  rgba(107, 107, 107, 0.1);
}
.friend-body hr{
    width: 100%;
    opacity: 0.5;
    height:2px ;
    display: block;
    background-color: rgb(221, 11, 11);
}
.userfriend img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  
}

.friend-body .userfriend a{
    color: #385cb8;
}
/* footer*/
footer{
    display: none;
}
#addpost{
    z-index:9;
    position: fixed;
    width: 100%;
    height: 100vh;
    bottom: 0;
    left: 0;
    background: var(--bg-transparent-color);
    backdrop-filter: blur(10px);
    opacity: 1  ;
    transition: .3s ease;
    display: none;/*return to none when completes*/
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
#addpost::-webkit-scrollbar{
    width: 6px;
}
.addpost-modal-body{
    position: relative;
    background: #ffffff;
    width: 70vw;
    height: 40vh;
    bottom: 0;
    top: 20px;
    margin: 0px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transform: translateY(-50px);
    transition: .5s ease;
    overflow: hidden;
   
}
.addpost-modal-body .fa-xmark{
    position: fixed;
    top: 15px;
    right: 15px;
    transform: scale(1.1);
}
.addpost-modal-body img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    
}
.additems{
    display: flex;
    justify-content:space-between;
    flex-direction: column; 
    gap: 4em;
}
.additems-head{
    display: flex;
    align-items: center;
    gap: 50px;

}
.additems .hr{
    height: 2px;
    background-color: rgb(185, 180, 180);
    width: px;
    transform: rotate(90deg);
    position: relative;
    border: 7px solid #545455;
}
#postext{
    resize: none;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-bottom: 1px solid #545455;
}
.additems-button{
    margin-top: 10px;
}
.additems-button >input[type="submit"]{
    background-color: #4174f5;;
    color:#fff;
   padding: 10px 25px ;
   border-radius: 25px;
   cursor: pointer;
}
.additems-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.icon-post{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-post .additems-icons  i{
    transform: scale(1.2);
    margin: 5px;
    color: #4174f5;
}
.icon-post .additems-icons .fa-face-smile{
    color: orange;
}
/*responsiveness*/

@media (max-width: 1024px) {
   
    .newpostBtn{
        width: 100%;
        padding: 8px;
        font-size: 0.6em;
        border-radius: 20px;
        background: #4174f5;
        color: white;
        height: 3em;
    }
    .right {
        width: 25%;
        background-color: #f7f7f7;
        padding: 10px;
     
    }
    .infobar-top{
        
      flex-direction: column;
        
    }
    .friend-head{
        display: flex;
        justify-content: start;
        flex-direction: column;
        gap: 0;
        margin-bottom: 20px;
        height: 50px;
         width: 100%;
    }
  
    .userfriend{
        width: 95%;
       
    }
   
    .userfriend .friend-username a{
        font-size: 0.75em;
        color: #385cb8;
    }
}
@media (max-width: 768px) {
    .navbar {
        width: 100%;
        height: 60px;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
    }

    #sidebar {
        display: none;
        transition:  0.3s ease-in-out;
        overflow: hidden;
        padding: 0.4em;
        
    }
    #sidebar:hover .sidebar-ul li {
        display: block;
    }
    .newpost{ 
        display: flex;
        
        justify-content: center;
        width: 30%;
    }
    .newpostBtn{
        width: 100%;
        padding: 5px;
        font-size: 0.7em;
        border-radius: 20px;
        background: #4174f5;
        color: white;
        
    }.nav-search input {
        display: none;
    }
    .nav-search::before {
        content: 'Andigram';
        display: block;
        font-size: 1.3em;
        color: #316cff;
        font-weight: 600;
        opacity: 0.8;
    }
    #hamburger{
        display: block;
    }  
    .userpic{
        margin-top: 10px;
        opacity: 0.7;
        text-align: center;
    }
    .userpic img {
        background-color: white;
        height: 40px;
        width: 40px;
        padding: 5px;
        border-radius: 50%;
    }
    .right{
        display: none;
    }
    footer{
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        border: 1px solid rgb(239, 239, 239);
        
    }
    footer .footer-container{
       
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 10px;
    
        
    }
    .footer-container i{
        color: #316cff;
        transform: scale(1.2);
        transition: 5 ease-in-out;
    }
    .footer-container a{
        padding: 10px;
    }
    .additems{
        gap: 0.5em;
    }
    .addpost-modal-body{
        width: 90vw;
        height: 30vh;
        bottom: 0;
        top: 10px;
        padding: 25px;
        border-radius: 10px;
    }
    .additems-button >input[type="submit"]{
        background-color: #316cff;
        color:#fff;
        padding: 5px 30px ;
       
        border-radius: 25px;
        cursor: pointer;
     }
}
@media (max-width: 425px) {
    #sidebar{
        display: none;
        padding: 0.4em;
        transition: 0.3s ease;
        overflow: hidden;
      
    }
    .nav-search input{
        font-size: 0.7em;
    }
    .right{
        display: none;
    }
    main{
        width: 90%;
       
    }
    .story img{
        width: 40px;
        height: 40px;
    }
    .stories { 
        justify-self: center;
        width: 99%;
        text-align: center;
        overflow-x: auto;
    }
    .comment-section textarea {
        width: 100%;
        height: 2.5em;
        border: 1px solid #ccc;
        padding: 2px;
        border-radius: 50px;
        resize: none;
    }
    .nav-search{
   
        width: 40%;
    }
    .nav-search input {
        display: none;
    }
    .nav-search::before {
        content: 'Andigram';
        display: block;
        font-size: 1.3em;
        color: #316cff;
        font-weight: 600;
        opacity: 0.8;
    }
    #hamburger{
        display: block;
    }
    .newpostBtn{
        width: 100%;
        padding: 4px;
        font-size: 0.5em;
        border-radius: 20px;
        background: #4174f5;
        color: white;
    }
    .addpost-modal-body{

        width: 90vw;
        height: 25vh;
        bottom: 0;
        top: 10px;
        padding: 25px;
        border-radius: 10px;
    
    }
    .addpost-modal-body .fa-xmark{
        
        top: 15px;
        right: 15px;
        opacity: 0.5;
    }
    .addpost-modal-body img{
        width: 40px;
        height: 40px;
       
        
    }
    .additems{
        gap: 0.5em;
    }
    .additems-head{
        display: flex;
        align-items: center;
        gap: 40px;
    
    }
    /*.additems .hr{
        height: 2px;
        background-color: rgb(185, 180, 180);
        width: px;
        transform: rotate(90deg);
        position: relative;
        border: 7px solid #545455;
    }*/
    #postext{
        resize: none;
        width: 100%;
        padding: 4px;
        box-sizing: border-box;
        border-bottom: 1px solid #545455;
    }

    .additems-head p{
        font-size: 0.9em;
    }
    .additems-button{
        margin-top: 10px;
    }
    .additems-button >input[type="submit"]{
       background-color: #316cff;
       color:#fff;
       padding: 5px 25px ;
       font-size: 0.7em;
       border-radius: 25px;
       cursor: pointer;
    }
}
@media (max-width: 320px){
    .newpostBtn{
        width: 100%;
        padding: 3px;
        font-size: 0.5em;
        border-radius: 20px;
        background: #4174f5;
        color: white;
    }
    .addpost-modal-body{
        width: 90vw;
        height: 25vh;
        bottom: 0;
        top: 10px;
        padding: 25px;
        border-radius: 10px;
    }
}