/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global styles */
*{
    font-family: 'Poppins';
    text-decoration: none;
}

/* Body styles */
body {
    background-color: #e7e8e9; /* Light gray */
}

/* Container styles */
.container{
    display: flex; 
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    height: 110vh;
    background-color: #e7e8e9;
    padding: 0 10%;
}

/* Left section styles */
.left-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: white;
    padding: 20px;
    max-height: 1200px;
    flex-direction: column;
    border-radius: 5px;
}

/* Right section styles */
.right-section {
    flex: 1;
    background: #316cff;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Right container styles */
.right-section .right-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 0 10px;
}

/* Form section styles */
#form-sec{
    padding: 0 40px;
    width: 80%;
}

/* Logo styles */
.logo{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.logo i{
    transform: scale(2);
    color: #010101;
}

/* Heading styles */
h1{
    text-align: center;
    font-size: 1.7em;
    font-weight: 600;
    color: rgb(41, 40, 40);
}

/* Paragraph styles */
p{
    text-align: center;
    font-weight: 500;
    color: rgb(151, 150, 150);
}

/* Input container styles */
.input-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 15px;
}

/* Label styles */
label{
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 0.8em;
    color: rgb(151, 150, 150);
}

/* Input styles */
input[type="email"],
input[type="password"]
{
    padding: 10px;
    border: solid 1px  rgb(206, 205, 205);
    border-radius: 10px;
}

/* Forgot password link styles */
.forgot{
    font-size: 0.7em;
    cursor: pointer;
}
.forgot a{
    color: #316cff;
}

/* Submit button container styles */
.submit-container{
    margin-top: 10px;
}
.submit-container input{
   background: #316cff;
   width:100% ;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   padding: 13px;
   color: white;
   font-size: 1em;
}
.submit-container input:hover{
    opacity: 0.7;
}

/* Don't have email styles */
.dont-forgotemail {
    font-size: 0.8em;
    margin-right: 10px;
}
.dont-forgotemail >button{
    outline: 0;
    border: 0;
    background: none;
    cursor: pointer;
    font-weight: 600;
}
.dont-forgotemail button > a{
    color: #316cff;
}

.otpfield{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.otpfield-input{
    width: 30px;
    height: 30px;
    padding: 10px;
    border: solid 1px  rgb(206, 205, 205);
    border-radius: 10px;
    text-align: center;
}
.otpfield-input:focus{
    border-color: #316cff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
/* Go back button styles */
#go-back{
    outline: 0;
    border: 0;
    background: none;
    cursor: pointer;
    font-weight: 500;
    color: rgb(151, 150, 150);
}

/* Error message styles */
#forgotemail-error,#password-error,#confirm-password-error{
    color: red;
}

/* Right section heading styles */
.right-section .right-container h1{
    color: white;
}
.right-section .right-container p{
    color:  rgb(241, 241, 241);
    opacity: .7;
}

/* Right section header styles */
.right-head{
    color:#363732;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 0 5%;
        height: 100vh;
    }
    .left-section /*,.right-section */{
        flex: none;
        width: 90%;
        padding: 20px;
        margin-top: 20%;
         
    }
    .right-section {
        padding: 20px;
        display: none;
    }
    #form-sec {
        width: 80%;
        padding: 0 20px;
    }
    .button-container {
        flex-direction: column;
        gap: 10px;
    }
    .button-container input {
        width: 100%;
    }
}